<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>百度搜索demo</title>
	<style>
		li{cursor: pointer;}
		.select{background: red;}
	</style>
</head>
<body>
	<div id='app'>
		<input v-model='msg' type='text' @keyup='search($event)'>
		<ul>
			<li @click='open()' @mouseenter='select(index)' :class='{select:index==nowSelect}' v-for='(index,item) in arr'>{{item}}</li>
		</ul>
	</div>
	<script src='../../js/vue.js'></script>
	<script src='../../js/vue-resource.js'></script>
	<script>
		new Vue({
			el : '#app',
			data : {
				msg : '',
				arr : [],
				nowSelect : -1
			},
			methods : {
				search : function(evt){
					if (evt.keyCode != 13) 
					{
						this.$http.jsonp('https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su', {
							wd : this.msg
						},{jsonp:'cb'}).then(function(res){
							this.arr =  res.data.s ;
						},function(res){
							alert(res.status);
						});
					}
					else
					{
						this.open();
					}
				},
				select : function(index){
					this.nowSelect = index;
					this.msg = this.arr[this.nowSelect];
				},
				open : function(){
					window.open('https://www.baidu.com/s?wd='+this.msg);  
					this.arr = [];
					this.msg = '';
				}
			}
		});
	</script>
</body>
</html>